.poster {
  width: 40px;
  height: 54px;
  display: inline-block;
  border-radius: 3px 3px 3px 3px;
}

.description {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.title {
  display: block;
  vertical-align: middle;
}

.details {
  display: block;
  font-size: 9px;
  font-style: italic;
  vertical-align: middle;
}
