<img class="poster"
     [src]="posterURL"
     (error)="invalidPosterHandler()"
>
<div class="description">
  <div class="title">{{omdbSearchResult.title | truncate:30}}</div>
  <div class="details">({{omdbSearchResult.type}}, {{omdbSearchResult.year}})</div>
</div>
