<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <a class="navbar-brand" href="http://www.imdb.com">
      <img class="logo" src="../assets/imbd_logo.png"/>
    </a>
    <app-omdb-search-bar></app-omdb-search-bar>
</nav>
