<template #elementTemplate let-res="result">
  <app-omdbsearch-result-tile [omdbSearchResult]="res"></app-omdbsearch-result-tile>
</template>

<form class="form-inline my-2 my-lg-0" (submit)="handleSubmit()">
  <input class="form-control mr-sm-3 inputBox"
         type="text"
         id="typeahead-basic"
         [ngbTypeahead]="search"
         [resultTemplate]="elementTemplate"
         [inputFormatter]="formatter"
         placeholder="Find Stuff..."
         (selectItem)="handleElementClick($event)">
  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>

